h1{
background-image:url("plain.png");
}
h4{
background-image:url("plain.png");
}
tr{
background-image:url("plain.png");
}
h2{
text-decoration:underline;
border-radius:10px;
color:red;
list-style-position:inside;
}
a:visited{
color:blue;
}
a:link{
color:red;
}
a:hover{
color:red;
}
a:active{
color:linen;
}